@import "variables";
@import "mixins";

.user-header {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $borderColor;
}

.user-header__profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.user-header__info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 20px;

    p {
        @include reset;
        margin-bottom: 5px;
    }
}

.user-header__info__name {
    font-size: 25px;
    font-weight: bold;
}

.user-header__info__username,
.user-header__info__quaks {
    color: map-get($textColors, 700);
}