@import "variables";

.sidebar {
    display: flex;
    flex-flow: column;
    border-left: 1px solid $borderColor;
    padding: 20px;
}

.search {
    position: relative;
}

.search__input {
    border-radius: 100px;
    border-width: 0px;
    background-color: #E7ECF0;
    padding: 16px 16px 16px 42px;
    font-size: 15px;
    width: 100%;

    &:focus {
        outline: none;

        &+.search__icon {
            color: black;
        }
    }
}

.search__icon {
    color: #828282;
    position: absolute;
    top: calc(50% - 0.5rem);
    left: 16px;
}