@import "variables";
@import "mixins";



.quak-form {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid $borderColor;

    .quak-form__pfp {
        display: none;

        img {
            height: 48px;
            width: 48px;
            border-radius: 100px;
        }
    }

    form {
        display: flex;
        flex-flow: column;
        gap: 1rem;
        flex: 1;
        padding: 0;

        .quak-form__input {
            width: 100%;

            border: none;
            border-radius: 5px;
            resize: none;
            font-size: large;


            &:focus {
                border-color: transparent;
                outline: none;
            }
        }

        .button {
            width: min-content;
            margin: 0;
            font-size: large;
            padding: 0.6rem 1rem;
        }
    }
}

@include medium {
    .quak-form {
        .quak-form__pfp {
            display: block;
        }
    }

}