@import 'mixins';
@import 'variables';

.dashboard {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .navigation {
        flex: 1;
        overflow: hidden;

        &:hover {
            overflow-y: auto;
        }
    }

    .content {
        flex: 4;
        overflow: auto;
    }

    .mobile-footer {
        margin-top: auto;
    }


}

@include small {
    .dashboard {
        flex-direction: row;
    }

    .mobile-header {
        display: none;
    }

    .mobile-footer {
        display: none;
    }
}